---
import "@/styles/global.css";

---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logogit.jpeg" />
		<meta name="generator" content={Astro.generator} />
		<title>GabJS10</title>
	</head>
	<body class="bg-background text-white antialiased overflow-x-hidden selection:bg-blue-500/30 selection:text-blue-200">
		<div class="fixed inset-0 -z-10 h-full w-full bg-background [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#1e293b_100%)] opacity-70"></div>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
